* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link {
  text-decoration: none;
}

.txt-italic {
  font-style: italic;
}

.txt-left {
  text-align: left;
}

@-webkit-keyframes loading-skip-btn {
  0% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes loading-skip-btn {
  0% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes loading-input {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-input {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-hr {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-hr {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-hr-prof {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-hr-prof {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-logo {
  0% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  90% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes loading-logo {
  0% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  90% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes loading-form {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-form {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-platform {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-platform {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scaleUp {
  100% {
    -webkit-transform: scale(1.1) translateY(-1px);
            transform: scale(1.1) translateY(-1px);
  }
}

@keyframes scaleUp {
  100% {
    -webkit-transform: scale(1.1) translateY(-1px);
            transform: scale(1.1) translateY(-1px);
  }
}

@-webkit-keyframes transT {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes transT {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

main {
  background-color: black;
  height: 100vh;
  text-align: center;
  padding: 15px;
  overflow: hidden;
}

.skip-btn {
  margin: auto;
  display: block;
  margin-top: 90px;
  color: white;
  width: 50px;
  height: 50px;
  -webkit-animation: loading-skip-btn .9s ease-in;
          animation: loading-skip-btn .9s ease-in;
}

.skip-btn:visited {
  color: white;
}

.skip-btn:hover {
  -webkit-transform: scale(1.1) translateY(-1px);
          transform: scale(1.1) translateY(-1px);
}

.card-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  border-radius: 20px;
  max-width: 600px;
  min-width: 250px;
  padding: 20px 10px 20px 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(#858585));
  background: linear-gradient(to right bottom, white, #858585);
  position: relative;
  -webkit-animation: loading-form 400ms ease-in;
          animation: loading-form 400ms ease-in;
}

.card-index__logo {
  height: 35%;
  min-height: 50px;
  max-height: 75px;
  -webkit-animation: loading-logo 800ms ease-in, scaleUp 1s ease-in 1.5s;
          animation: loading-logo 800ms ease-in, scaleUp 1s ease-in 1.5s;
}

.card-index .hr-dec {
  margin: 20px 0 20px 0;
  width: 60%;
  -webkit-animation: loading-hr .9s ease-in;
          animation: loading-hr .9s ease-in;
}

.card-index__form .submit {
  cursor: pointer;
}

.card-index__form__input.login {
  -webkit-animation: loading-input .5s ease-in;
          animation: loading-input .5s ease-in;
  display: block;
}

.card-index__form__input.login-register a {
  color: black;
}

.card-index__form__input.login-register a:visited {
  color: black;
}

.card-index__form__input.register {
  -webkit-animation: loading-input .6s ease-in;
          animation: loading-input .6s ease-in;
  display: none;
}

.card-index__form__input.register-login a {
  color: black;
}

.card-index__form__input.register-login a:visited {
  color: black;
}

.card-index__platform {
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20%;
  -webkit-animation: loading-platform 700ms ease-in;
          animation: loading-platform 700ms ease-in;
}

/* MOBILE SCREEN SIZING */
@media (max-width: 370px) {
  .card-index__platform {
    height: 40px;
  }
}

a {
  color: #969696;
}

a:visited {
  color: #969696;
}

ul {
  text-align: left;
}

.sub-heading {
  margin: 10px 0;
}

.profile {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  color: #969696;
  gap: 10px;
  padding: 10px 10px 60px 10px;
}

.profile .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 92.5vh;
  gap: 10px;
}

.profile .card .item {
  padding: 10px 5%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  border-radius: 20px;
  position: relative;
}

.profile .card .item__list {
  max-width: 300px;
}

.profile .card .item .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.profile .card .item .photo__img {
  max-height: 300px;
  border-radius: 20px;
}

.profile .card .item .hr-dec-prof {
  margin: 10px auto 10px auto;
  width: 90%;
  -webkit-animation: loading-hr-prof .9s ease-in;
          animation: loading-hr-prof .9s ease-in;
}

.profile .card .item__status {
  margin: 10px 0;
}

.profile .card .item__list {
  text-align: start;
  margin: auto;
}

.profile .card .item__list ul {
  margin: 10px 5px;
}

.profile .card .item__contact .email:hover {
  color: #e17878;
  font-style: italic;
  text-decoration: underline;
}

.profile .card .item__link {
  margin: 20px auto 10px auto;
}

.profile .card .item__link .logo-img {
  margin: 0 2px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.profile .card .item .item__top {
  width: 10px;
  position: absolute;
  margin-top: -25px;
  left: 50%;
  opacity: 0;
}

.profile .card .item .top-page {
  margin: 50px 0 25px 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  right: 10%;
  left: 10%;
  overflow: hidden;
}

.profile .card .item .top-page--none {
  position: none;
  margin: 50px 0 25px 0;
}

.profile .card.card--hero {
  width: 150%;
}

.profile .card.card--hero .item #skills-page {
  overflow: hidden;
}

.profile .card.card--hero .item #skills-page .project-btn {
  margin: 20px 0;
}

.profile .card.card--hero .item .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.profile .card.card--hero .item .list__item .thumnail {
  margin: auto;
}

.profile .card.card--hero .item .list__item .thumnail .thumnail__img {
  max-width: 250px;
  border-radius: 20px;
}

.profile .card.card--hero .item .list__item .project-description p {
  margin-top: 10px;
  padding: 0 10px;
}

.profile .card.card--hero .item .list__item:hover {
  -webkit-animation: transT .1s ease-in forwards;
          animation: transT .1s ease-in forwards;
  opacity: .9;
}

.profile .card.card--hero .item .skills-btn-page {
  margin: 40px 0 20px 0;
}

@media (max-width: 900px) {
  .profile .card.card--hero .item .list__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profile .card.card--hero .item .vid-date {
  font-style: italic;
}

.profile .card.card--hero .item .video {
  margin: 20px 0;
  width: 100%;
  border-radius: 20px;
}

.profile .card.card--hero .item__child {
  max-height: 85vh;
  overflow: auto;
}

.profile .card.card--hero .item__child .paragraph p {
  margin-top: 20px;
}

@media (min-width: 650px) {
  .profile .top-page {
    display: none;
  }
}

@media (max-width: 650px) {
  .profile .top-page {
    display: block;
  }
}

@media (max-width: 400px) {
  .profile .item__list {
    padding: auto 10px;
  }
}

.profile .bottom-nav {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profile .txt-sub {
  color: #5a5a5a;
  font-size: 13px;
}

@media (max-width: 650px) {
  .profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bottom-nav {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.scale-up-btn:hover {
  -webkit-animation: scaleUp .05s ease-in forwards;
          animation: scaleUp .05s ease-in forwards;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  bottom: 0;
}

.dark-mode, #skills-page, #project-page, #hobby-page {
  display: none;
}
/*# sourceMappingURL=style.css.map */