* {
    box-sizing: border-box;
    margin: 0;
    // padding: 0;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link { text-decoration: none; }

@import 
"./abstracts/variables",
"./abstracts/mixins",
"./abstracts/loading-animation";

// INDEX PAGE
@import 
"./pages/main",
"./components/skip-btn",
"./pages/login-card";

// PROFILE PAGE

@import 
"./pages/profile",
"./components/bottom-nav",
"./components/scale-up-btn";

body {
    height: 100%;
    width: 100%;
    background-color: $main-bg-color;
    text-align: center;
    bottom: 0;
}
.dark-mode, #skills-page, #project-page, #hobby-page {
    display: none;
}