* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

@-webkit-keyframes loading-skip-btn {
  0% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes loading-skip-btn {
  0% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes loading-input {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-input {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-hr {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-hr {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-logo {
  0% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  90% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes loading-logo {
  0% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  90% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes loading-form {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-form {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes loading-platform {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes loading-platform {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scaleUp {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes scaleUp {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes transT {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes transT {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

main {
  background-color: black;
  height: 100vh;
  text-align: center;
  padding: 15px;
  overflow: hidden;
}

.skip-btn {
  margin: auto;
  display: block;
  margin-top: 90px;
  color: white;
  width: 50px;
  height: 50px;
  -webkit-animation: loading-skip-btn .9s ease-in;
          animation: loading-skip-btn .9s ease-in;
  -webkit-transition: all .015ms ease-in-out;
  transition: all .015ms ease-in-out;
}

.skip-btn:visited {
  color: white;
}

.skip-btn:hover {
  -webkit-transform: scale(1.1) translateY(-1px);
          transform: scale(1.1) translateY(-1px);
}

.card-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  border-radius: 20px;
  max-width: 600px;
  min-width: 250px;
  padding: 20px 10px 20px 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(#858585));
  background: linear-gradient(to right bottom, white, #858585);
  position: relative;
  -webkit-animation: loading-form 400ms ease-in;
          animation: loading-form 400ms ease-in;
}

.card-index__logo {
  height: 75px;
  -webkit-animation: loading-logo 800ms ease-in, scaleUp 1s ease-in 1.5s;
          animation: loading-logo 800ms ease-in, scaleUp 1s ease-in 1.5s;
}

.card-index hr {
  margin: 20px 0 20px 0;
  width: 60%;
  -webkit-animation: loading-hr .9s ease-in;
          animation: loading-hr .9s ease-in;
}

.card-index__form .submit {
  cursor: pointer;
}

.card-index__form__input.login {
  -webkit-animation: loading-input .5s ease-in;
          animation: loading-input .5s ease-in;
  display: block;
}

.card-index__form__input.login-register a {
  color: black;
}

.card-index__form__input.login-register a:visited {
  color: black;
}

.card-index__form__input.register {
  -webkit-animation: loading-input .6s ease-in;
          animation: loading-input .6s ease-in;
  display: none;
}

.card-index__form__input.register-login a {
  color: black;
}

.card-index__form__input.register-login a:visited {
  color: black;
}

.card-index__platform {
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 70px;
  -webkit-animation: loading-platform 700ms ease-in;
          animation: loading-platform 700ms ease-in;
}

/* MOBILE SCREEN SIZING */
@media (max-width: 370px) {
  .card-index__platform {
    height: 40px;
  }
}

.profile {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  height: 85vh;
  color: #969696;
  gap: 10px;
}

.profile .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0;
}

.profile .card-1__image-img {
  height: 350px;
  border-radius: 20px;
}

.profile .card-1__personale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  padding: 10px 40px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.profile .card-1__personale__list {
  text-align: start;
  width: 250px;
}

.profile .card-1__personale__link .logo-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.profile .card-2 {
  max-width: 890px;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  padding: 20px 100px;
  min-height: 100%;
  border-radius: 20px;
}

.profile .txt-sub {
  color: #5a5a5a;
}

@media (max-width: 650px) {
  .profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.bottom-nav {
  margin: auto;
  max-width: 1200px;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#1a1919));
  background: linear-gradient(to right bottom, black, #1a1919);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  bottom: 0;
}

.skillsInfoGrid, .projectsParentContainer, .hobbyInfoGrid, .dark-mode {
  display: none;
}
/*# sourceMappingURL=style.css.map */