.bottom-nav {
    @include centre;
    max-width: 1200px;
    height: 10vh;
    position: sticky;
    bottom: 0;
    margin-top: 10px;
    background: $color-night;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}