
&__about-me {
    position: relative;
    .hr-dec-prof {
        @include hr-decoration-prof;
    }
    &-paragraph {
        p {
            margin-top: 20px;
        }
    }
    .top-about-me {
        width: 100%;
        position: absolute;
        margin-top: -25px;
    }
}