
.card-1 {
    @include flex-column;
    // gap: 5px;
    width: 100%;
    &__image {
        @import "../components/profile-img";
    }
    &__personale {        
        @include flex-column;
        justify-content: space-around;
        background: $color-night;
        padding: 10px 40px;
        width: 100%;
        height: 100%;
        border-radius: $br-20;
        .hr-dec {
            @include hr-decoration-prof;
            @include centre;
        }
        &__list {
            text-align: start;
            width: 250px;
            // padding: 10px 10%;
        }
        &__link {
            .logo-img {
                height: 40px;
                width: 40px;
                border-radius: 5px;         
            }
        }
        &.linkedin-logo {
            // height: 20px;
        }
    }
}

@media (min-width: 350px) {
        // padding: 0 10px;
}