.card-2 {
    max-width: 890px;
    // min-width: 350px;
    background: $color-night;
    padding: 20px 100px;
    // max-height: 100%;
    border-radius: $br-20;
    &__info {
        &-paragraph {
            max-height: 500px;
            overflow: auto;
            p {
                margin-top: 20px;
            }
        }
    }
}
@media (max-width: 1000px) {
        .card-2 {
            padding: 20px 10px;
        }
}