
.card-1 {
    @include flex-column;
    // gap: 5px;
    width: 100%;
    max-height: 100%;
    &__image {
        @import "../components/profile-img";
    }
    &__personale {        
        @include flex-column;
        justify-content: space-around;
        background: $color-night;
        padding: 10px 10px;
        width: 100%;
        min-width: 350px;
        border-radius: $br-20;
        .hr-dec-prof {
            @include hr-decoration-prof;
        }
        &-status {
            margin: 10px 0;
        }
        &__list {
            text-align: start;
            @include centre;
            // background-color: aqua;
            ul {
                margin: 10px 5px;
            }
        }
        &__link {
            margin-top: 10px;
            // background-color: antiquewhite;
            .logo-img {
                height: 40px;
                width: 40px;
                border-radius: 5px;         
            }
        }
    }
}

@media (max-width: 400px) {
        // padding: 0 10px;
        .card-1__personale__list {
            padding: auto 10px;
        }
        .card-1__personale {
            padding: 10px 10px;
        }
}