.card-2 {
    height: 670px;
    width: 150%;
    background: $color-night;
    padding: 20px 100px;
    border-radius: $br-20;
    position: relative;
    overflow: auto;
    @import 
    "./about-me",
    "./skills",
    "./project",
    "./hobby";
    .nav-top-page {
        position: absolute;
        bottom: 70px;
        left: 55%;
        margin-left: -50px;
    }
}
@media (max-width: 1000px) {
    .card-2 {
        padding: 20px 10px;
    }
}
@media (max-width: 650px) {
    .card-2 {
        padding-bottom: 100px;
        overflow: none;
    }
}