
.card {
    @include flex-column;
    width: 100%;
    min-height: 92.5vh;
    gap: $gap;
    @include loading-txt-header;
    @include loading-txt-p;
    .item {
        @import 
        "../components/item";
        @include item-style;
        position: relative;
        .photo {
            @include flex-row;
            justify-content: center;
            align-items: center;
            height: 100%;
            &__img {
                @import "../components/photo";
                @include profile-photo-style;
            }
        }
        .hr-dec-prof {
            @include hr-decoration-prof;
        }
        &__status {
            margin: 10px 0;
        }
        &__list {
            text-align: start;
            @include centre;
            ul {
                margin: 10px 5px;
            }
        }
        &__contact {
            .email {
                &:hover {
                    color: rgb(225, 120, 120);
                    font-style: italic;
                    text-decoration: underline;
                }
            }
        }
        &__link {
            margin: 20px auto 10px auto;
            .logo-img {
                margin: 0 2px;
                height: 40px;
                width: 40px;
                border-radius: 5px;         
            }
        }
        .item__top {
            width: 10px;
            position: absolute;
            margin-top: -25px;
            left: 50%;
            opacity: 0;
        }
        .top-page {
            margin: 50px 0 25px 0;
            white-space: nowrap;
            // background-color: aliceblue;
            position: absolute;
            bottom: 0;
            right: 10%;
            left: 10%;
            overflow: hidden;
            &--none {
                position: none;
                margin: 50px 0 25px 0;
            }
        }
    }
    &.card--hero {
        width: 150%;
        .item {
            @include loading-txt-header;
            @import 
            "./about-me",
            "./skills",
            "./project",
            "./hobby";
            &__child { 
                @include loading-txt-p;
                height: 100%;
                max-height: 85vh;
                overflow: auto;
                .paragraph {
                    p {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
@media (min-width: 650px) {
    .top-page {
        display: none;
    }
    @mixin item-style {
        padding: 10px 10px;
    }
}
@media (max-width: 650px) {
    .top-page {
        display: block;
    }
    @mixin item-style {
        padding: 10px 10px;
    }
}

@media (max-width: 400px) {
        .item__list {
            padding: auto 10px;
        }
}