
&__hobby {
    display: none;
    height: 100%;
    // @include flex-column;
    .hr-dec-prof {
        @include hr-decoration-prof;
    }
    .vid-date {
        font-style: italic;
    }
    &-video {
        margin: 20px 0;
        width: 100%;
        border-radius: $br-20;
    }
    &-paragraph {
        max-height: 500px;
        p {
            margin-top: 20px;
        }
    }
}