
.card-index {
    @include flex-column;
    justify-content: space-evenly;
    @include centre;
    align-items: center;
    margin-top: 150px;
    border-radius: 20px;
    max-width: 600px;
    min-width: 250px;
    // height: 40vh;
    padding: 20px 10px 20px 10px;
    background: $color-day;
    position: relative;

    // NAME | DURATION | ESASING | DELAY | REAPEAT | STAY

    animation: loading-form 400ms ease-in;
    &__logo {
        height: 35%;
        min-height: 50px;
        max-height: 75px;
        animation: 
        loading-logo 800ms ease-in,
        scaleUp 1s ease-in 1.5s;
    }
    .hr-dec {
        @include hr-decoration;
    }
    &__form {
        .submit {
            cursor: pointer;
        }
        &__input {
            &.login {
                animation: loading-input .5s ease-in;
                display: block;
                &-register {
                    a {
                        color: black;
                        &:visited {
                            color: black;
                        }
                    }
                }
            }    
            &.register {
                animation: loading-input .6s ease-in;
                display: none; // <-- ON/OFF
                &-login {
                    a {
                        color: black;
                        &:visited {
                            color: black;
                        }
                    }
                }
            }           
        }
    }
    &__platform { 
        bottom: 0;
        right: 0;
        position: absolute;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 20%;
        animation: loading-platform 700ms ease-in;
    }
}

/* MOBILE SCREEN SIZING */

@media (max-width: 370px) {
    .card-index__platform {  
        height: 40px;
    }
}