
.list__item {
    @include flex-row;
    align-items: center;
    margin-bottom: 20px;
    .thumnail {
        @include centre;
        .thumnail__img {
            max-width: 250px;
            border-radius: $br-20;
            animation: loading-item-in .5s ease-in;
        }
    }
    .project-description {
        p {
            margin-top: 10px;
            padding: 0 10px;
        }
    }
    &:hover {
        animation: transT .1s ease-in forwards;
        opacity: .9;
    }
}
.skills-btn-page {
    margin: 40px 0 20px 0;
}

@media (max-width: 900px) {
    .list__item {
        flex-wrap: wrap;
    }
}