a {
    color: $txt-color-night;
    &:visited {
        color: $txt-color-night;        
    }
}
ul {
    text-align: left;
}
.sub-heading {
    margin: 10px 0;
}

.profile {
    @include centre;
    @include flex-row;
    justify-content: center;
    @import 
    "./card",
    "../components/bottom-nav";
    // background-color: aliceblue;
    max-width: 1200px;
    // height: 100vh;
    color: $txt-color-night;
    gap: $gap;
    padding: 10px 10px 60px 10px;
    @include txt-sub;
}

@media (max-width: 650px) {
    .profile {
        flex-wrap: wrap;
    }
}
