
.profile {
    @include centre;
    @include flex-row;
    justify-content: center;
    @import 
    "./card-1",
    "./card-2";
    max-width: 1200px;
    // background-color: aliceblue;
    color: $txt-color-night;
    gap: $gap;
    // position: relative;
    padding: 10px;
    .txt-sub {
        color: $txt-color-night-sub;
    }
}

@media (max-width: 650px) {
    .profile {
        flex-wrap: wrap;
    }
}
