
&__skills {
    // display: none;
        height: 100%;
        overflow: auto;
    .hr-dec-prof {
        @include hr-decoration-prof;
    }
    @import "./project";
    &-paragraph {
        max-height: 500px;
        p {
            margin-top: 20px;
        }
    }
}