
@keyframes loading-skip-btn {
    0% {
        transform: translateY(800%);
    }
    90% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes loading-input {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 9;
    }
    90% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loading-hr {
    0% {
        transform: scale(1.6);
    }
    90% {
        transform: scale(.9);
    }
    100% {
        transform: translateY(1);
    }
}
@keyframes loading-logo {
    0% {
        transform: translateY(-800%);
    }
    90% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes loading-form {
    50% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: translateY(1);
    }
}
@keyframes loading-platform {
    50% {
        transform: scale(0); 
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: translateY(1);
    }
}
@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}



@mixin rotate-tools {
    transition: all .5s ease-in-out;
}

@mixin rotating1 {
    transform: rotate(359deg);   
}