@mixin flex-row {
    display: flex;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin centre {
    margin: auto;
}
@mixin padding-main {
    padding: 20px 10px 20px 10px;
}
@mixin hr-decoration {
    margin: 20px 0 20px 0;
    width: 60%;
    animation: loading-hr .9s ease-in;    
}
@mixin hr-decoration-prof {
    margin: 10px auto 10px auto;
    width: 90%;
    animation: loading-hr-prof .9s ease-in;    
}
@mixin rotate-tools {
    transition: all .5s ease-in-out;
}

@mixin rotating1 {
    transform: rotate(359deg);   
}

@mixin scale-up-tools {
    transition: all .015ms ease-in-out;
}

@mixin scale-up {
    transform: scale(1.1) translateY(-1px);   
}

@mixin loading-sub-heading {
    .sub-heading {
        animation: loading-sub-heading .8s ease-in;
    }
}
@mixin txt-sub {
    .txt-sub {
        color: $txt-color-night-sub;
        font-size: $small-text;
        animation: loading-sub-txt 1s ease-in;
    }
}
