
// COLOUR

$color-day: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(133, 133, 133));
$color-night: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(26, 25, 25));
$main-bg-color: black;
$txt-color-night: rgb(150, 150, 150); 
$txt-color-night-sub: rgb(090, 090, 090); 

// BORDER RADIOUS

$br-20: 20px;
$gap: 10px;

// TEXT

$main-title: 20px;
$sub-title: 15px;
$small-text: 10px;